:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-dark--3: #524a47;
  --color-dark--4: #4e5458;

  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  --color-white: #fff;
}

$color-light--1: #aaa;
$color-dark--1: #2d3439;
$color-dark--2: #42484d;

$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 46.875em; // 750px
$bp-micro: 31.25em; // 500px